/* css styling */
:root{
--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);
--blue: hsl(248, 32%, 49%);
--dark-blue: hsl(249, 10%, 26%);
--grayish-blue: hsl(246, 25%, 77%);
}

*{
/* outline: 1px solid red;   */
padding: 0;
margin: auto;
box-sizing: border-box;
}

body{
background-color: var(--red);
color: #fff;
background-image: url(images/bg-intro-mobile.png);
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.container{
margin: 50px auto 30px auto;
font-size: 16px;
font-family: Poppins, sans-serif;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-direction: column;
max-width: 1000px;
}

.heading{
    flex: 1;
}

.blue-and-card{
    flex: 1;
}

h1{
font-size: 1.6em;
margin-bottom: 30px;
max-width: 95%;
}

.heading p{
margin-bottom: 20px;   
max-width: 95%;
font-weight: 400;
}

.blue {
background-color: var(--blue);
box-shadow: 0 8px hsla(249, 10%, 26%, .3);
max-width: 340px;
margin: 25px auto;    
padding: 18px;
border-radius: 8px;
}

.blue p{
max-width: 60%;
}

.blue span{
font-weight: 700;
}

/* .errors{
    border: 2px solid hsl(0, 100%, 74%);
    background: url(images/icon-error.svg) no-repeat;
    background-position: 95% 50%;
}

.errors-text{
    font-size: 12px;
    font-style: italc;
    margin-left: auto;
    margin-top: -15px;
    margin-bottom: 20px;
    color: hsl(0, 100%, 74%);
}

.success{
    border: 2px soid hsl(154, 59%, 51%);
} */