:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    }

*{
    outline: 1px solid red;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
   
    ul{
        list-style-type: none;
    }
    
    img{      
        display: block;
        max-width: 100%;
        
        height: auto;   
    }
    h1{
        padding-bottom: 18px;
        font-size: 1.3em;
    }
         
    
    h2{
        text-align: center;
        font-size: 1em;
    }

    .avatar-text p{
        text-align: center;
    }

body{
   
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    background-color: var(--light-grayish-blue);   
    padding: 0 20px;
    color: var( --very-dark-grayish-blue);
}

br{
    display: none;
}


.container{    
    margin: 0 auto;
    font-family: Manrope, sans-serif;    
    border-radius: 18px;
    overflow: hidden;
  
}

.container .text{
    padding: 25px 5% 15px 5%;
    font-size: 13px;
    background-color: #fff;
      
}

.container .description h2{
    font-size: 20px;
    line-height: 1.4;
    padding-bottom:20px;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
 #share{
   background-color: var(--light-grayish-blue);
   padding: 10px;
   border-radius: 50%;;
}

.avatar-img{
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    
    
    
  
}
.avatar-img, .avatar-text {
    margin-bottom: 10px;
}
.open-share{
    display: none;
}
@media(min-width: 375px){
.container{
    max-width: 350px;
    
}

 
 .text{
   margin-top: -46px;
   position: relative; 
 }

 h1{
    margin-top: 12px;
 } 
 

    .avatar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .avatar-text{
        padding-left: 25px;
    }
    .avatar-img-and-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
}

@media(min-width: 992px){
    .container{
        displaY: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       max-width: 880px;
     
      
     
        
    }
    br{
        display: none;
    }
/* 
    .drawers{
        height: 280px;
        
    } */

    .text{
        position: relative; 
        margin-left: -65px;
        margin-top: -23px;
       
        
       /* height: 280px; */
        
      }

h1{
    padding-top: 38px;
}
 .avatar{
     padding-bottom: 20px;
 }
     
}
