/* css styling */
:root{
--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);
--blue: hsl(248, 32%, 49%);
--dark-blue: hsl(249, 10%, 26%);
--grayish-blue: hsl(246, 25%, 77%);
}

*{
/* outline: 1px solid red;   */
padding: 0;
margin: auto;
box-sizing: border-box;
}

body{
background-color: var(--red);
color: #fff;
background-image: url(images/bg-intro-mobile.png);
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.container{
margin: 50px auto 30px auto;
font-size: 16px;
font-family: Poppins, sans-serif;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-direction: column;
max-width: 1000px;
}

.heading{
    flex: 1;
}

.blue-and-card{
    flex: 1;
}

h1{
font-size: 1.6em;
margin-bottom: 30px;
max-width: 95%;
}

.heading p{
margin-bottom: 20px;
max-width: 95%;
font-weight: 400;
}

.blue {
background-color: var(--blue);
box-shadow: 0 8px hsla(249, 10%, 26%, .3);
max-width: 340px;
margin: 25px auto;
padding: 18px;
border-radius: 8px;
}

.blue p{
max-width: 60%;
}

.blue span{
font-weight: 700;
}

/* .errors{
    border: 2px solid hsl(0, 100%, 74%);
    background: url(images/icon-error.svg) no-repeat;
    background-position: 95% 50%;
}

.errors-text{
    font-size: 12px;
    font-style: italc;
    margin-left: auto;
    margin-top: -15px;
    margin-bottom: 20px;
    color: hsl(0, 100%, 74%);
}

.success{
    border: 2px soid hsl(154, 59%, 51%);
} */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}


.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.field {
    margin-bottom: 5px;

}

.field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.field input:focus {
    outline: none;
}

.field.error input {
    border-color: var(--error-color);
}

.field.success input {
    border-color: var(--success-color);
}


.field small {
    color: var(--error-color);
}


/* button */
.btn {
    width: 100%;
    padding: 3%;
    background: #007bff;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background: #0069d9;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}